<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.pantherman594.iimessage">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name="com.pantherman594.iimessage.iiMessageApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/iiMessage">
        <activity
            android:name="com.pantherman594.iimessage.MessageActivity"
            android:label="@string/app_name"/>
        <activity
            android:name="com.pantherman594.iimessage.ChatsActivity"
            android:label="@string/app_name"/>
        <activity
            android:name="com.pantherman594.iimessage.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.pantherman594.iimessage.iiMPreferenceActivity"
            android:label="@string/app_name"
            android:theme="@style/iiMessage"/>
    </application>

</manifest>